<div class="container-fluid">
    <div data-ng-show="app.authorization.hasPermission('seed-w20', ['seed', 'i18n', 'locale', 'read']) && app.authentication.isAuthentifiable()">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">{{ "application.view.seed-i18n.title" | localize }}</h1>
            </div>
            <div class="col-md-12">
                <div data-tabset id="menu">
                    <div data-tab data-heading="{{ 'application.view.seed-i18n.settings' | localize }}">
                        <div id="dashboard" data-ng-include data-src="'/dashboardTemplate.html'" data-ng-controller="SeedI18nDashboardController"></div>
                    </div>
                    <div data-tab data-active="true" data-heading="{{ 'application.view.seed-i18n.keys' | localize }}">
                        <div id="key-management" data-ng-include data-src="'/keyManagementTemplate.html'" data-ng-controller="SeedI18nKeysController"></div>
                    </div>
                    <div data-tab data-heading="{{ 'application.view.seed-i18n.translate' | localize }}">

                    </div>
                    <div data-tab data-heading="{{ 'application.view.seed-i18n.import-export' | localize }}">
                        <div id="import-export" data-ng-include data-src="'/importExportTemplate.html'"></div>
                    </div>
                    <div data-tab data-heading="{{ 'application.view.seed-i18n.statistic' | localize }}">

                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-warning"
             data-ng-show="!app.authorization.hasPermission('seed-w20', ['seed', 'i18n', 'locale', 'write']) && app.authentication.isAuthentifiable()">
            {{ "application.view.seed-i18n.no-edit-permission" | localize }}
        </div>
    </div>
</div>

<script type="text/ng-template" id="/dashboardTemplate.html">
    <br>
    <div class="row">
        <div class="col-sm-3">
            <div id="default-language" class="form-group">
                <label>{{ "application.view.seed-i18n.default-language" | localize }}</label>
                <select class="form-control"
                        data-ng-disabled="!app.authorization.hasPermission('seed-w20', ['seed', 'i18n', 'locale', 'write']) && app.authentication.isAuthentifiable()"
                        data-ng-options="lang.englishLanguage for lang in app.applicationLocales | orderBy:'toString()'"
                        data-ng-model="app.defaultLocale"
                        data-ng-change="locales.updateDefault()">
                </select>
            </div>
            <div id="application-locales" class="form-group">
                <label>{{ "application.view.seed-i18n.application-languages" | localize }}</label>
                <ul class="list-group">
                    <li data-ng-repeat="availableLocale in app.applicationLocales | orderBy:'availableLocale.englishLanguage'"
                        class="list-group-item">
                        <i class="fa fa-flag"></i> {{ availableLocale.englishLanguage }} <small>{{ availableLocale.code }}</small>
                        <div data-w20-confirm="locales.remove(availableLocale)" class="pull-right"></div>
                    </li>
                </ul>
                <button class="btn btn-default" data-ng-show="!addNewLanguage"
                        data-ng-click="addNewLanguage = !addNewLanguage">
                    {{ "application.view.seed-i18n.add" | localize }} <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div id="new-language" class="form-group col-sm-9" data-ng-show="addNewLanguage">
            <label>{{ "application.view.seed-i18n.languages-to-add" | localize }}</label>
            <div class="form-group input-group col-md-6">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="search"
                       data-ng-model="searchLocales"
                       placeholder="{{ 'application.view.seed-i18n.search' | localize }}"
                       data-results="0"
                       class="form-control">
            </div>
            <ul class="list-group" style="height: 500px; overflow-y: scroll">
                <li data-ng-repeat="locale in locales.allLocales | filter:searchLocales | orderBy:'locale.englishLanguage' track by $index"
                    data-ng-click="locales.add(locale)"
                    class="list-group-item"
                    style="cursor: pointer">
                    <i class="fa fa-flag"></i> {{ locale.englishLanguage }}
                    <span class="pull-right"><strong>{{ locale.code }}</strong></span>
                </li>
            </ul>
        </div>
    </div>
</script>
<script type="text/ng-template" id="/keyManagementTemplate.html">
    <br>
    <div data-ng-show="keys.errors.alreadyExists" class="col-md-8 alert alert-danger">
        <button data-ng-click="keys.errors.alreadyExists = false" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <i class="fa fa-warning"></i> <strong>Failed to save</strong> : key name already exists.
    </div>
    <div class="row" data-ng-hide="keys.addingNew">
        <div class="col-md-8">
            <div class="col-sm-5" style="padding-left: 0;">
                <div id="search-area" class="form-group input-group has-feedback">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="search"
                           data-ng-model="keys.criterias.searchName"
                           data-ng-change="keys.get()"
                           data-ng-model-options="{ debounce: { 'default': 700, 'blur': 0 } }"
                           placeholder="{{ 'application.view.seed-i18n.searchkeys' | localize }}"
                           data-results="0"
                           class="form-control">
                    <span data-ng-show="keys.loading" class="form-control-feedback">
                        <i class="fa fa-refresh fa-spin"></i>
                    </span>
                </div>
            </div>
            <div class="col-sm-7" id="options-area" style="padding-left: 0; padding-right: 0;">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.sourceLocale.englishLanguage }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li data-ng-repeat="locale in app.applicationLocales track by locale.code">
                            <a href="" data-ng-click="keys.setSourceLocale(locale)">{{ locale.englishLanguage }}</a>
                        </li>
                    </ul>
                </div>
                <button data-ng-click="keys.addingNew = !keys.addingNew" class="btn btn-primary">
                    <i class="fa fa-plus"></i> {{ "application.view.seed-i18n.add-new-key" | localize }}
                </button>
                <nav data-ng-show="!keys.isEmpty" class="pull-right" data-w20-pager></nav>
                <div class="btn-group pull-right" data-ng-init="showTranslations = true; showComments = true">
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cog"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="" data-ng-click="showTranslations = !showTranslations">
                                <i data-ng-show="showTranslations" class="fa fa-check"></i> Show translations
                            </a>
                        </li>
                        <li>
                            <a href="" data-ng-click="showComments = !showComments">
                                <i data-ng-show="showComments" class="fa fa-check"></i> Show comments
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div id="new-key" data-ng-show="keys.addingNew" class="row">
        <div class="col-md-8">
            <div class="clearfix"></div>
            <div class="pull-right">
                <button data-ng-click="keys.withComment = !keys.withComment" data-ng-class="{active: keys.withComment}" class="btn btn-default btn-sm">
                    <i class="fa fa-comment-o"></i> {{ "application.view.seed-i18n.comment" | localize }}
                </button>
                <div class="btn-group">
                    <div class="button-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-plus"></i> {{ "application.view.seed-i18n.add-translations" | localize }} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li data-ng-repeat="locale in app.applicationLocales | filter:withoutDefault track by locale.code" data-w20-dropdown-blur>
                                <a data-ng-click="locale._selected = !locale._selected" href="" class="small" tabIndex="-1">
                                    <i data-ng-show="locale._selected" class="fa fa-check"></i> {{ locale.englishLanguage }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <button class="btn btn-danger btn-sm" data-ng-click="keys.addingNew = false">
                    <i class="fa fa-times"></i> {{  "application.view.seed-i18n.cancel" | localize }}
                </button>
            </div>
            <h4>{{  "application.view.seed-i18n.addkeytitle" | localize }}</h4>
            <form novalidate name="keys.addKeyForm">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group has-feedback" data-ng-class="{'has-success': keys.addKeyForm.name.$touched && !keys.addKeyForm.name.$error.required && !keys.errors.alreadyExists, 'has-error': keys.addKeyForm.name.$touched && keys.addKeyForm.name.$error.required}">
                                    <label>{{ 'application.view.seed-i18n.key-name' |localize }}</label>
                                    <input name="name" required data-ng-model="keys.new.name" data-w20-focus="keys.addingNew" type="text" class="form-control">
                                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" data-ng-show="keys.addKeyForm.name.$touched && keys.addKeyForm.name.$error.required"></span>
                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" data-ng-show="keys.addKeyForm.name.$touched && !keys.addKeyForm.name.$error.required"></span>
                                    <small class="text-danger" data-ng-show="keys.addKeyForm.name.$touched && keys.addKeyForm.name.$error.required"><i class="fa fa-warning"></i> {{ 'application.view.seed-i18n.required' | localize }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group has-feedback" data-ng-class="{'has-success': keys.addKeyForm.defaultTranslation.$touched && !keys.addKeyForm.defaultTranslation.$error.required, 'has-error': keys.addKeyForm.defaultTranslation.$touched && keys.addKeyForm.defaultTranslation.$error.required}">
                            <label>{{ 'application.view.seed-i18n.default-translation' | localize }} ({{ app.defaultLocale.englishLanguage }})</label>
                            <textarea required name="defaultTranslation" data-ng-model="keys.new.translation" class="form-control" rows="3"></textarea>
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" data-ng-show="keys.addKeyForm.defaultTranslation.$touched && keys.addKeyForm.defaultTranslation.$error.required"></span>
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" data-ng-show="keys.addKeyForm.defaultTranslation.$touched && !keys.addKeyForm.defaultTranslation.$error.required"></span>
                            <small class="text-danger" data-ng-show="keys.addKeyForm.defaultTranslation.$touched && keys.addKeyForm.defaultTranslation.$error.required"><i class="fa fa-warning"></i> {{ 'application.view.seed-i18n.required' | localize }}</small>
                        </div>
                        <div class="form-group">
                            <div data-ng-repeat="locale in app.applicationLocales | filter:{_selected: true} track by locale.code" class="form-group">
                                <label>{{ locale.englishLanguage }}</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div data-ng-show="keys.withComment" class="form-group">
                            <label>{{ 'application.view.seed-i18n.comment' | localize }}</label>
                            <textarea data-ng-model="keys.new.comment" data-w20-focus="keys.withComment" class="form-control" rows="3"></textarea>
                        </div>
                        <div class="form-inline">
                            <div class="form-group pull-right">
                                <button type="submit" data-ng-disabled="keys.addKeyForm.$invalid" data-ng-click="keys.add(keys.new, true)" class="btn btn-default btn-sm"><i class="fa fa-check-square-o"></i> {{  "application.view.seed-i18n.saveandnew" | localize }}</button>
                                <button type="submit" data-ng-disabled="keys.addKeyForm.$invalid" data-ng-click="keys.add(keys.new)" class="btn btn-success btn-sm"><i class="fa fa-check"></i> {{ "application.view.seed-i18n.save" | localize }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div data-ng-show="keys.saveSuccessFeedback" class="alert alert-success"> Key application.view.seed-i18n.key-name saved successfully </div>
        </div>
    </div>
    <div id="keys-list" class="row">
        <div class="col-md-8">
            <div id="keys-not-found-message" class="alert alert-warning" data-ng-show="keys.isEmpty">
                <i class="fa fa-warning"></i> {{ "application.view.seed-i18n.no-keys-retrieved" | localize }}
            </div>
            <div class="panel panel-default" data-ng-repeat="key in keys.list | orderBy: 'key.name'">
                <div class="panel-heading">
                    <i class="fa fa-key"></i> {{ key.name }}
                    <button class="pull-right btn btn-xs btn-default" style="margin-left: 5px"><i class="fa fa-pencil"></i></button>
                    <button data-ng-show="key.comment && !showComments"
                            data-ng-click="showComment = !showComment"
                            class="pull-right btn btn-xs btn-default"
                            style="margin-left: 5px">
                        <i class="fa fa-comment-o"></i>
                    </button>
                    <button data-ng-click="showTranslation = !showTranslation"
                            data-ng-show="!showTranslations"
                            class="pull-right btn btn-xs btn-default"
                            style="margin-left: 5px">
                        <i data-ng-class="{'fa fa-chevron-up': showTranslation, 'fa fa-chevron-down': !showTranslation}"></i>
                    </button>
                    <div data-w20-confirm="keys.delete(key)" class="pull-right"></div>
                </div>
                <div class="panel-body" data-ng-show="showTranslations || showTranslation">
                    <p>
                        {{ key.translation }}
                    </p>
                    <div data-ng-show="key.comment && (showComments || showComment)" class="alert alert-info" role="alert">
                        <i class="fa fa-comment-o"></i> {{ key.comment }}
                    </div>
                </div>
            </div>
            <nav data-ng-show="!keys.isEmpty && keys.list.length > 5" class="pull-right" data-w20-pager></nav>
        </div>
    </div>
</script>
<script type="text/ng-template" id="/importExportTemplate.html">
    <br>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary btn-lg btn-block" id="submit-all" data-drop-zone>
                <i class="fa fa-upload"></i> {{ "application.view.seed-i18n.importkeys" | localize }}
            </button>
            <p><br><br><br>{{ "application.view.seed-i18n.dropzone" | localize }}</p>
            <div>
                <form class="dropzone" id="file-dropzone" style="margin-bottom:20px"></form>
            </div>
        </div>
        <div class="col-md-6">
            <button class="btn btn-default btn-lg btn-block"
                data-ng-href="{{ exportPath }}"><i class="fa fa-download"></i> {{ "application.view.seed-i18n.exportkeys" | localize }}
            </button>
        </div>
    </div>
</script>
